section article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0px;
}

/* section article:last-child {
    margin-bottom: 40px;
} */

section article:first-child {
    margin-top: 0px;
}

section article:first-child h4 {
    margin-top: 0px;
}

section #postgrado {
    margin-top: 20px;
}

section .place {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

section .place img {
    box-sizing: border-box;
    height: 40px;
    width: auto;
    margin: 0px 8px;
}

.place .placeText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.placeText p:first-child {
    font-weight: bold;
}

section article h2 {
    color: #6d2539;
    margin: 0px;
    font-style: italic;
    text-align: left;
    font-size: larger;
}

section article h4 {
    text-align: left;
    color: #6d2539;
    font-size: larger;
    margin: 10px 0px 5px 0px;
}

article h4 a {
    color: #6d2539;
    text-decoration: none;
}

article h4 a:hover{
    text-align: left;
    color: #6d2539;
    text-decoration: underline;
}

section .experiencia {
    margin-top: 25px;
}