footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8d2f4a;
    width: 100%;
    box-sizing: border-box;
    font-family: Calibri, Candara, Arial, sans-serif;
}

footer a {
    height: 25px;
    margin: 10px 5px;
    border-radius: 50%;
    width: auto;
    overflow: hidden;
}

footer .instagramIcon {
    border-radius: 25%;
}

footer a img {
    object-fit: cover;
    height: 100%;
}