header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

header .headerInfo {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #8d2f4a;
}

.headerInfo a {
    height: fit-content;
    width: fit-content;
}

.headerInfo a img {
    display: none;
    margin: 5px;
    height: 65px;
    width: auto;
}

.headerInfo .headerText {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerText h1 {
    font-family: "Brush Script MT", cursive;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
    margin: 10px 0px 5px 0px;
}

.headerText h1 a {
    color: #ffffff;
    text-decoration: none;
}

.headerText h3 a {
    font-style: italic;
    font-family: Calibri, Candara, Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
}

header .menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #6d2539;
    font-family: Calibri, Candara, Arial, sans-serif;
}

.menu a {
    font-size: large;
    padding: 3px;
    color: #ffffff;
    text-decoration: none;
}

.menu a:hover {background-color: #bf4063}