section ul {
    margin: 10px 0px;
    list-style-position: inside;
}

section ul li {
    margin: 10px;
    text-align: left;
    font-size: 20px;
}

section ul li a {
    color: black;
    text-decoration: none;
}

section ul li a:hover {
    color: #6d2539;
    text-decoration: underline;
}

.datoUbicacion ul li {
    margin: 10px 0px 10px 5px;
}