@import './index.css';
@import './articles.css';
@import './header.css';
@import './footer.css';
@import './leftAligned.css';
@import './tables.css';

@media screen and (min-width: 440px) {
    .leftAligned #logosContainer img, #logosContainer #diprecaContainer {
        height: 50px;
    }

    #diprecaContainer p {
        font-size: large;
    }
}

@media screen and (min-width: 550px) {  
    header .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu a {
        padding: 5px;
    }

    .leftAligned iframe {
        width: 400px;
    }

    section table td {
        padding: 15px 30px;
    }

    .sectionContainer section {
        margin: 20px 40px;      
    }

    footer {
        flex-direction: row;
        min-height: 30px;
    }

    .leftAligned #logosContainer {
        margin: 25px 30px;
    }
}

@media screen and (min-width: 680px) {
    .leftAligned #logosContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 900px) {
    main .sectionContainer {
        flex-direction: row;
        align-items: flex-start;
    }
}