@import './index.css';
@import './articles.css';
@import './header.css';
@import './footer.css';
@import './leftAligned.css';
@import './tables.css';


@media screen and (min-width: 440px) {
    .leftAligned #logosContainer img {
        height: 50px;
    }
}

@media screen and (min-width: 500px) {
    .headerInfo a img {
        display: inline;
    }

    header .headerInfo {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

@media screen and (min-width: 550px) {  
    header .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu a {
        padding: 5px;
    }

    section iframe {
        width: 400px;
    }

    section table td {
        padding: 15px 30px;
    }

    footer {
        flex-direction: row;
        min-height: 30px;
    }

    .leftAligned #logosContainer {
        margin: 25px 30px;
    }
}

@media screen and (min-width: 720px) {
    .leftAligned #logosContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    section #dataUbicacion {
        grid-template-columns: 1fr 1fr;
    }

    section iframe {
        width: 550px;
    }

    section .place img {
        height: 55px;
    }
}

@media screen and (min-width: 950px) {
    main .sectionContainer {
        flex-direction: row;
        align-items: flex-start;
    }

    .leftAligned #logosContainer img {
        height: 40px;
    }

    .sectionContainer section {
        margin: 20px 10%;      
    }

    .sectionContainer #examenesCard {
        margin-right: 3%;
        margin-left: 0%;
    }
}


@media screen and (min-width: 1200px) {
    .leftAligned #logosContainer img {
        height: 50px;
    }

    section iframe {
        width: 640px;
    }
}