<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>SANDRA HENRÍQUEZ VALLEJOS</h1>
            <h3>Exámenes de Audiología</h3>
            <div class="menu">Exámenes Experiencia Estudios Publicaciones Ubicación y Contacto Convenios</div>
        </header>
        <main>
            <section>
                <h1>Convenios</h1>
                <p>Códigos de Prestaciones  Fonasa, Isapres y Dipreca</p>

                <table>
                    <tbody>
                        <tr>
                            <td><a title="Audiometría" href="audiometria/">Audiometría</a></td>
                            <td>13-01-008 en niños<br />13-01-021 en adultos desde 15 años</td>
                        </tr>
                        <tr>
                            <td><a title="Impedanciometría" href="impedanciometria/">Impedanciometría</a></td>
                            <td>13-01-009</td>
                        </tr>
                        <tr>
                            <td><a title="Prueba de Audífonos" href="prueba-de-audifonos/">Prueba de audífonos</a></td>
                            <td>13-01-010</td>
                        </tr>
                        <tr>
                            <td><a title="VIII Par" href="viiipar/">Examen de VIII par</a></td>
                            <td>13-01-020</td>
                        </tr>
                        <tr>
                            <td><a href="prueba-calorica">Prueba Calórica</a></td>
                            <td>13-01-017</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                MAPA
            </section>
        </main>
    </body>
</html>