<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>SANDRA HENRÍQUEZ VALLEJOS</h1>
            <h3>Exámenes de Audiología</h3>
            <div class="menu">Exámenes Experiencia Estudios Publicaciones Ubicación y Contacto Convenios</div>
        </header>
        <main>
            <section>
                <h1>Estudios</h1>
                <h3><em>Pregrado</em></h3>
                
                <article>
                    <div class="place">
                        <img src="../assets/logoUchile.jpg" alt="Logo Universidad de Chile" width="36" height="22" >
                        <p>Universidad de Chile</p>
                    </div>
                    <p>Tecnólogo Médico Otorrinolaringólogo</p>
                </article>
                <article>
                    <div class="place">
                        <img src="../assets/logoUfro.jpg" alt="Logo UFRO" width="26" height="22" >
                        <p>Universidad de La Frontera</p>
                    </div>
                    <p>Tecnólogo Médico en Laboratorio Clínico, Banco de Sangre y Hematología</p>
                </article>

                <h3><em>Postgrado</em></h3>
                <article>
                    <div class="place">
                        <img src="../assets/logoUfro.jpg" alt="Logo UFRO" width="26" height="22" >
                        <p>Universidad de La Frontera</p>
                    </div>
                    <p>Magister en Salud Pública Comunitaria y Desarrollo Local y Regional</p>
                </article>
            </section>
            <section>
                MAPA
            </section>
        </main>
    </body>
</html>