<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/png" href="../assets/logos/logo16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../assets/logos/logo32.png" sizes="32x32">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes Auditivos</title>
    </head>
    <body>
        <header>
            <div class="headerInfo">
                <a class="logo" title="Bienvenida" href="../index.html">
                    <img src="../assets/logos/logo.png" alt="Logo Sandra Henríquez">
                </a>
                <div class="headerText">
                    <h1><a title="Bienvenida" href="../index.html">Sandra Henríquez Vallejos</a></h1>
                    <h3><a title="Exámenes" href="examenes.html">Exámenes Auditivos</a></h3>
                </div>
            </div>
            <div class="menu">
                <a title="Convenios" href="convenios.html">Convenios</a>
                <a title="Estudios" href="estudios.html">Estudios</a>
                <a title="Exámenes" href="examenes.html">Exámenes</a>
                <a title="Experiencia" href="experiencia.html">Experiencia</a>
                <a title="Publicaciones" href="publicaciones.html">Publicaciones</a>
                <a title="Ubicación y Contacto" href="ubicacion.html">Ubicación y Contacto</a>
            </div>
        </header>
        <main>
            <h1>Exámenes</h1>
            <div class="sectionContainer">
                <section>
                    <h2>Click para ver:</h2>
                    <ul>
                        <li><a title="Audiometría" href="examenes/audiometria.html">Audiometría</a></li>
                        <li><a title="Impedanciometría" href="examenes/impedanciometria.html">Impedanciometría</a></li>
                        <li><a title="VIII Par" href="examenes/viiipar.html">VIII Par</a></li>
                        <li><a title="Prueba de Audífonos" href="examenes/prueba-de-audifonos.html">Prueba de Audífonos</a></li>
                        <li><a title="Prueba Calórica" href="examenes/prueba-calorica.html">Prueba Calórica</a></li>
                        <li><a title="Prueba Función Tubaria" href="examenes/prueba-funcion-tubaria.html">Prueba de Función Tubaria</a></li>
                        <li><a title="Ejercicios de rehabilitación Vestibular" href="examenes/ejercicios-de-rehabilitacion-vestibular.html">Ejercicios de Rehabilitación Vestibular</a></li>
                        <li><a title="Maniobras de Reposición" href="examenes/maniobras-de-reposicion.html">Maniobras de Reposición</a></li>
                        <li><a title="Potencial Evocado Auditivo" href="examenes/potencial-evocado-auditivo.html">Potencial Evocado Auditivo</a></li>
                    </ul>
                </section>
                <section id="examenesCard">
                    <h2>Situación Sanitaria</h2>
                    <p>Debido a las <em>actuales condiciones sanitarias</em> se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes, como se puede apreciar en la siguiente imagen:</p>
                    <img src="../assets/precauciones.jpeg" alt="Foto Elementos de Desinfección">
                </section>
            </div>
        </main>
        <footer>
            <a title="Contacto telefónico" href="ubicacion.html"><img src="../assets/icons/phone.svg" alt="Ícono Teléfono"></a>
            <a title="Enviar un mail" href="mailto:audiometriatco@gmail.com"><img src="../assets/icons/letter.svg" alt="Ícono Carta"></a>
            <a class="instagramIcon" target="_blank" title="Página en Instagram" href="https://www.instagram.com/audiometriatco/"><img src="../assets/icons/instagram.svg" alt="Logo Instagram"></a>
            <a target="_blank" title="Author GitHub" href="https://github.com/DiegoEmilio01"><img src="../assets/icons/github.svg" alt="Logo Github"></a>
        </footer>
    </body>
</html>