<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>SANDRA HENRÍQUEZ VALLEJOS</h1>
            <h3>Exámenes de Audiología</h3>
            <div class="menu">Exámenes Experiencia Estudios Publicaciones Ubicación y Contacto Convenios</div>
        </header>
        <main>
            <section>
                <h1>Exámenes</h1>
                <ul>
                    <li><a title="Audiometría" href="audiometria/">Audiometría</a><a title="Ubicación" href="http://audiotemuco.wordpress.com/ubicacion/"><br /></a></li>
                    <li><a title="Impedanciometría" href="impedanciometria/">Impedanciometría</a></li>
                    <li><a title="VIII Par" href="viiipar/">VIII Par</a></li>
                    <li><a title="Prueba de Audífonos" href="prueba-de-audifonos/">Prueba de Audífono</a></li>
                    <li><a title="Prueba Función Tubaria" href="prueba-funcion-tubaria/">Prueba de Función Tubaria</a></li>
                    <li><a title="Ejercicios de rehabilitación Vestibular" href="ejercicios-de-rehabilitacion-vestibular/">Ejercicios de Rehabilitación Vestibular</a></li>
                    <li><a title="Maniobras de Reposición" href="maniobras-de-reposicion/">Maniobras de Reposición</a></li>
                    <li><a href="potencial-evocado-auditivo/">Potencial Evocado Auditivo</a></li>
                </ul>
            </section>
            <section>
                MAPA
            </section>
        </main>
    </body>
</html>