<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>
                <a title="Bienvenida" href="index.html">Sandra Henríquez Vallejos</a> 
            </h1>
            <h3>Exámenes de Audiología</h3> 
            <div class="menu">
                <a title="Convenios" href="convenios.html">Convenios</a>
                <a title="Estudios" href="estudios.html">Estudios</a>
                <a title="Exámenes" href="examenes.html">Exámenes</a>
                <a title="Experiencia" href="experiencia.html">Experiencia</a>
                <a title="Publicaciones" href="publicaciones.html">Publicaciones</a>
                <a title="Ubicación y Contacto" href="ubicacion.html">Ubicación y Contacto</a>
            </div>
        </header>
        <main>
            <h1>Exámenes</h1>
            <div class="sectionContainer">
                <section class="leftAligned">
                    <p>Click para ver el detalle del examen:</p>
                    <ul>
                        <li><a title="Audiometría" href="examenes/audiometria.html">Audiometría</a></li>
                        <li><a title="Impedanciometría" href="examenes/impedanciometria.html">Impedanciometría</a></li>
                        <li><a title="VIII Par" href="examenes/viiipar.html">VIII Par</a></li>
                        <li><a title="Prueba de Audífonos" href="examenes/prueba-de-audifonos.html">Prueba de Audífono</a></li>
                        <li><a title="Prueba Función Tubaria" href="examenes/prueba-funcion-tubaria.html">Prueba de Función Tubaria</a></li>
                        <li><a title="Ejercicios de rehabilitación Vestibular" href="examenes/ejercicios-de-rehabilitacion-vestibular.html">Ejercicios de Rehabilitación Vestibular</a></li>
                        <li><a title="Maniobras de Reposición" href="examenes/maniobras-de-reposicion.html">Maniobras de Reposición</a></li>
                        <li><a href="examenes/potencial-evocado-auditivo.html">Potencial Evocado Auditivo</a></li>
                    </ul>
                </section>
                <section id="examenesCard">
                    <h2>Situación Sanitaria</h2>
                    <p>Debido a las <em>actuales condiciones sanitarias</em> se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes, como se puede apreciar en la siguiente imagen:</p>
                    <img src="../assets/precauciones.jpeg" alt="Foto Elementos de Desinfección">
                </section>
            </div>
        </main>
    </body>
</html>