<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/png" href="../assets/logos/logo16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../assets/logos/logo32.png" sizes="32x32">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes Auditivos</title>
    </head>
    <body>
        <header>
            <div class="headerInfo">
                <img src="../assets/logos/logo.png" alt="Logo Sandra Henríquez" >
                <div class="headerText">
                    <h1><a title="Bienvenida" href="../index.html">Sandra Henríquez Vallejos</a></h1>
                    <h3>Exámenes Auditivos</h3>
                </div>
            </div> 
            <div class="menu">
                <a title="Convenios" href="convenios.html">Convenios</a>
                <a title="Estudios" href="estudios.html">Estudios</a>
                <a title="Exámenes" href="examenes.html">Exámenes</a>
                <a title="Experiencia" href="experiencia.html">Experiencia</a>
                <a title="Publicaciones" href="publicaciones.html">Publicaciones</a>
                <a title="Ubicación y Contacto" href="ubicacion.html">Ubicación y Contacto</a>
            </div>
        </header>
        <main>
            <h1>Experiencia</h1>
            <div class="sectionContainer">
                <section>
                    <article>
                        <h3>Consulta Privada</h3>
                        <div class="place">
                            <img src="../assets/logos/siresa.png" alt="Logo Siresa">
                            <p>Siresa</p>
                        </div>
                        <p>Desde 1995. Manuel Montt 942, Temuco, Chile.</p>
                    </article>
                    <article class="experiencia">
                        <h3>Unidad Auditivos</h3>
                        <div class="place">
                            <img src="../assets/logos/hospital.jpg" alt="Logo Hospital">
                            <p>Hospital Hernán Henríquez Aravena</p>
                        </div>
                        <p>Desde 1996. Temuco, Chile.</p>
                    </article>
                    <article class="experiencia">
                        <h3>Académico del Departamento de Especialidades Médicas. Facultad de Medicina</h3>
                        <div class="place">
                            <img src="../assets/logos/ufro.jpg" alt="Logo UFRO">
                            <p>Universidad de La Frontera</p>
                        </div>
                        <p>Desde 2008. Temuco, Chile.</p>
                    </article>
                </section>
                <section id="examenesCard">
                    <h2>Situación Sanitaria</h2>
                    <p>Debido a las <em>actuales condiciones sanitarias</em> se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes, como se puede apreciar en la siguiente imagen:</p>
                    <img src="../assets/precauciones.jpeg" alt="Foto Elementos de Desinfección">
                </section>
            </div>
        </main>
        <footer>
            <a title="Ubicación y Contacto" href="ubicacion.html">Contacto: 452 690 038, audiometriatco@gmail.com</a>
            <a title="GitHub User" href="https://github.com/DiegoEmilio01">By: DiegoEmilio01</a>
        </footer>
    </body>
</html>