<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link media="screen" rel="icon" type="image/png" href="../assets/logos/logo16.png" sizes="16x16">
        <link media="screen" rel="icon" type="image/png" href="../assets/logos/logo32.png" sizes="32x32">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/articles.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/index.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/header.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/footer.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../style/queries.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BWZQ9FCFRB"></script>
        <script>
            // Detect if user is using a browser
            // Opera 8.0+
            var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
            // Firefox 1.0+
            var isFirefox = typeof InstallTrigger !== 'undefined';
            // Safari 3.0+
            var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && window['safari'].pushNotification));
            // Internet Explorer 6-11
            var isIE = /*@cc_on!@*/false || !!document.documentMode;
            // Edge 20+
            var isEdge = !isIE && !!window.StyleMedia;
            // Chrome 1 - 79
            var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);
            // Edge (based on chromium) detection
            var isEdgeChromium = isChrome && (navigator.userAgent.indexOf("Edg") != -1);
            // Blink engine detection
            var isBlink = (isChrome || isOpera) && !!window.CSS;
            if (isOpera || isFirefox || isSafari || isIE || isEdge || isChrome || isEdgeChromium || isBlink) {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-BWZQ9FCFRB');
            }
        </script>
        <title>Publicaciones | Sandra Henríquez V.</title>
        <meta name="description" content="Todas las publicaciones en las que Sandra Henríquez es coautora." />
        <script type="application/ld+json">
            [{
                "@context": "https://schema.org",
                "@type": "SpecialAnnouncement",
                "name": "Precauciones especiales por situación sanitaria",
                "text": "Debido a las actuales condiciones sanitarias se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes.",
                "datePosted": "2021-03-01",
                "expires": "2022-03-01",
                "category": "https://www.wikidata.org/wiki/Q81068910",
                "announcementLocation" : {
                    "@type": "MedicalBusiness",
                    "additionalType": "https://schema.org/Otolaryngologic",
                    "name": "Sandra Henríquez Vallejos",
                    "url": "https://audiometriatemuco.cl/",
                    "address": {
                        "addressCountry": "Chile",
                        "addressRegion": "Araucanía",
                        "addressLocality": "Temuco",
                        "streetAddress": "Manuel Montt 942"
                    }
                }
            },{
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://audiometriatemuco.cl/assets/precauciones.webp",
                "license": "https://audiometriatemuco.cl/LICENSE",
                "acquireLicensePage": "https://github.com/DiegoEmilio01/Audiometria-Temuco/blob/main/LICENSE"
            },{
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://audiometriatemuco.cl/assets/logos/logo.png",
                "license": "https://audiometriatemuco.cl/LICENSE",
                "acquireLicensePage": "https://github.com/DiegoEmilio01/Audiometria-Temuco/blob/main/LICENSE"
            },{
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Sandra Henríquez Vallejos",
                    "item": "https://audiometriatemuco.cl"
                },{
                    "@type": "ListItem",
                    "position": 2,
                    "name": "Publicaciones",
                    "item": "https://audiometriatemuco.cl/views/publicaciones.html"
                }]
            }]
        </script>
    </head>
    <body>
        <header>
            <div class="headerInfo">
                <a class="logo" title="Bienvenida" href="../index.html">
                    <img src="../assets/logos/logo.png" loading="lazy" alt="Logo Sandra Henríquez">
                </a>
                <div class="headerText">
                    <h1><a title="Bienvenida" href="../index.html">Sandra Henríquez Vallejos</a></h1>
                    <h2><a title="Exámenes" href="examenes.html">Exámenes Auditivos</a></h2>
                </div>
            </div>
            <div class="menu">
                <a title="Convenios" href="convenios.html">Convenios</a>
                <a title="Estudios" href="estudios.html">Estudios</a>
                <a title="Exámenes" href="examenes.html">Exámenes</a>
                <a title="Experiencia" href="experiencia.html">Experiencia</a>
                <a title="Publicaciones" href="publicaciones.html">Publicaciones</a>
                <a title="Ubicación y Contacto" href="ubicacion.html">Ubicación y Contacto</a>
            </div>
        </header>
        <main>
            <h1>Publicaciones</h1>
            <div class="sectionContainer">
                <section>
                    <article>
                        <h4><a href="https://www.scielo.cl/scielo.php?script=sci_arttext&pid=S0718-48162021000400584&lng=en&nrm=iso&tlng=en">Hipoacusia sensorioneural unilateral: Revisión de los manejos posibles en nuestra realidad nacional</a></h4>
                        <p><em>Revista de Otorrinolaringología y Cirugía de Cabeza y Cuello</em></p>
                        <p>2021</p>
                        <p>Nicklas, L., Castro, R., Henríquez, S. &amp; Mella, C.</p>
                    </article>
                    <article>
                        <h4><a href="https://www.scielo.cl/scielo.php?script=sci_arttext&pid=S0718-48162017000400373&lng=en&nrm=iso&tlng=en">Rescue Flap: Alternativa de colgajo en cirugía de base de cráneo</a></h4>
                        <p><em>Revista de Otorrinolaringología y Cirugía de Cabeza y Cuello</em></p>
                        <p>2017</p>
                        <p>Henríquez, M., Monnier, E., Nicklas, L., Carmine, E., Henríquez, S. &amp; Contreras, M.</p>
                    </article>
                    <article>
                        <h4><a href="https://www.scielo.cl/scielo.php?script=sci_arttext&pid=S0718-48162017000100004&lng=en&nrm=iso&tlng=en">Cirugía hipofisiaria endoscópica transesfenoidal, con realización de colgajo nasoseptal: Evaluación del impacto de la técnica en la olfación. Serie de casos</a></h4>
                        <p><em>Revista de Otorrinolaringología y Cirugía de Cabeza y Cuello</em></p>
                        <p>2017</p>
                        <p>Henríquez, M., Monnier, E., Ortiz, E., Nicklas, L., Carmine, E. &amp; Henríquez, S.</p>
                    </article>
                    <article>
                        <h4>Evaluación del olfato en pacientes operados de cirugía hipofisiaria endoscópica transesfenoidal, con realización de colgajo nasoseptal</h4>
                        <p><em>3º congreso de la Academia Iberoamericana de ORL</em></p>
                        <p>2015</p>
                        <p>Henríquez, M., Henríquez, S. &amp; Monnier, E.</p>
                    </article>
                    <article>
                        <h4>Colgajo nasoseptal en cirugía endoscópica transesfenoidal: ¿Existe riesgo de alteración olfativa?</h4>
                        <p><em>LXXII congreso chileno de ORL, Medicina y cirugía de cabeza y cuello</em></p>
                        <p>2015</p>
                        <p>Henríquez, M., Nicklas, L., Henríquez, S. &amp; Monnier, E.</p>
                    </article>
                    <article>
                        <h4><a href="http://repositoriocdpd.net:8080/bitstream/handle/123456789/82/Art_HenriquezVallejosS_HipoacusiaGenero_2013.pdf?sequence=1">Hipoacusia y género ¿factores de doble discriminación? Un estudio en la Araucanía</a></h4>
                        <p><em>Red Iberoamericana de expertos en la convención de los derechos de las personas con discapacidad</em></p>
                        <p>2014</p>
                        <p>Henríquez, S. &amp; Hernández, A.</p>
                    </article>
                    <article>
                        <h4><a href="https://revistasaludpublica.uchile.cl/index.php/RCSP/article/view/28609">Caracterización de recién nacidos, evaluados con Audiometría de potencial auditivo evocado en el Hospital Hernán Henríquez Aravena, periodo 2007-2011</a></h4>
                        <p><em>Revista Chilena de Salud Pública</em></p>
                        <p>28 de octubre de 2013</p>
                        <p>Henríquez, S., González, D. &amp; Pérez, G.</p>
                    </article>
                    <article>
                        <h4>Hipoacusia y género</h4>
                        <p><em>XXX Jornadas de Salud Pública de Chile (congreso)</em></p>
                        <p>2013</p>
                        <p>Henríquez, S. &amp; Hernández, A.</p>
                    </article>
                    
                </section>
                <section id="examenesCard">
                    <h2>Situación Sanitaria</h2>
                    <p>Debido a las <em>actuales condiciones sanitarias</em> se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes, como se puede apreciar en la siguiente imagen:</p>
                    <img src="../assets/precauciones.webp" loading="lazy" alt="Foto Elementos de Desinfección">
                </section>
            </div>
        </main>
        <footer>
            <a title="Contacto telefónico" href="ubicacion.html"><img src="../assets/icons/phone.svg" loading="lazy" alt="Ícono Teléfono"></a>
            <a title="Enviar un mail" href="mailto:audiometriatco@gmail.com"><img src="../assets/icons/letter.svg" loading="lazy" alt="Ícono Carta"></a>
            <a target="_blank" title="Ver ubicación en mapa" href="https://goo.gl/maps/5gnJXD5WL15S7sFr7" rel="noreferrer"><img src="../assets/icons/ubication.svg" loading="lazy" alt="Ícono Ubicación"></a>
            <a target="_blank" title="Página en Instagram" href="https://www.instagram.com/audiometriatco" rel="noreferrer"><img src="../assets/icons/instagram.svg" loading="lazy" alt="Logo Instagram"></a>
            <a target="_blank" title="Author GitHub" href="https://github.com/DiegoEmilio01" rel="noreferrer"><img src="../assets/icons/github.svg" loading="lazy" alt="Logo Github"></a>
        </footer>
    </body>
</html>