<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/png" href="../assets/logos/logo16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../assets/logos/logo32.png" sizes="32x32">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes Auditivos</title>
    </head>
    <body>
        <header>
            <h1>
                <a title="Bienvenida" href="index.html">Sandra Henríquez Vallejos</a> 
            </h1>
            <h3>Exámenes Auditivos</h3> 
            <div class="menu">
                <a title="Convenios" href="convenios.html">Convenios</a>
                <a title="Estudios" href="estudios.html">Estudios</a>
                <a title="Exámenes" href="examenes.html">Exámenes</a>
                <a title="Experiencia" href="experiencia.html">Experiencia</a>
                <a title="Publicaciones" href="publicaciones.html">Publicaciones</a>
                <a title="Ubicación y Contacto" href="ubicacion.html">Ubicación y Contacto</a>
            </div>
        </header>
        <main>
            <h1>Publicaciones</h1>
            <div class="sectionContainer">
                <section>
                    <article>
                        <h4>Evaluación del olfato en pacientes operados de cirugía hipofisiaria endoscópica transesfenoidal, con realización de colgajo nasoseptal</h4>
                        <p><em>3º congreso de la Academia Iberoamericana de ORL</em></p>
                        <p>2015</p>
                        <p>Henríquez, M., Henríquez, S. &amp; Monnier, E.</p>
                    </article>
                    <article>
                        <h4>Colgajo nasoseptal en cirugía endoscópica transesfenoidal: ¿Existe riesgo de alteración olfativa?</h4>
                        <p><em>LXXII congreso chileno de ORL, Medicina y cirugía de cabeza y cuello</em></p>
                        <p>2015</p>
                        <p>Henríquez, M., Nicklas, D., Henríquez, S. &amp; Monnier, E.</p>
                    </article>
                    <article>
                        <h4><a href="http://cms.colegiomedico.cl/Magazine/2013/53/4/53_4_4.pdf" >Hipoacusia y género ¿factores de doble discriminación? Un estudio en la Araucanía</a></h4>
                        <p><em>Red Iberoamericana de expertos en la convención de los derechos de las personas con discapacidad</em></p>
                        <p>2014</p>
                        <p>Henríquez, S. &amp; Hernández, A.</p>
                    </article>
                    <article>
                        <h4><a href="https://revistasaludpublica.uchile.cl/index.php/RCSP/article/view/28609">Caracterización de recién nacidos, evaluados con Audiometría de potencial auditivo evocado en el Hospital Hernán Henríquez Aravena, periodo 2007-2011</a></h4>
                        <p><em>Revista Chilena de Salud Pública</em></p>
                        <p>28 de octubre de 2013</p>
                        <p>Henríquez, S., González, D. &amp; Pérez, G.</p>
                    </article>
                    <article>
                        <h4>Hipoacusia y género</h4>
                        <p><em>XXX Jornadas de Salud Pública de Chile (congreso)</em></p>
                        <p>2013</p>
                        <p>Henríquez, S. &amp; Hernández, A.</p>
                    </article>
                    
                </section>
                <section id="examenesCard">
                    <h2>Situación Sanitaria</h2>
                    <p>Debido a las <em>actuales condiciones sanitarias</em> se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes, como se puede apreciar en la siguiente imagen:</p>
                    <img src="../assets/precauciones.jpeg" alt="Foto Elementos de Desinfección">
                </section>
            </div>
        </main>
        <footer>
            <p>Contacto: 452 690 038, audiometriatco@gmail.com</p>
            <a href="https://github.com/DiegoEmilio01">By: DiegoEmilio01</a>
        </footer>
    </body>
</html>