<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>SANDRA HENRÍQUEZ VALLEJOS</h1>
            <h3>Exámenes de Audiología</h3>
            <div class="menu">Exámenes Experiencia Estudios Publicaciones Ubicación y Contacto Convenios</div>
        </header>
        <main>
            <section>
                <h1>Ubicación y Contacto</h1>
                <div class="place">
                    <img src="../assets/logoSiresa.png" alt="Logo Siresa" width="77" height="25" >
                    <h3>Consulta Siresa</h3>
                </div>

                <h3>Dirección:</h3>
                <ul>
                    <li>Manuel Montt 942, Temuco</li>
                </ul>
                <h3>Teléfonos:</h3>
                <ul>
                    <li>452 690 037</li>
                    <li>452 690 038</li>
                    <li>452 690 039</li>
                    <li>452 690 000 (central)</li>
                </ul>
            </section>
            <section>
                MAPA
            </section>
        </main>
    </body>
</html>