<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/png" href="../assets/logos/logo16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../assets/logos/logo32.png" sizes="32x32">
        <link rel="stylesheet" href="../style/style.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BWZQ9FCFRB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-BWZQ9FCFRB');
        </script>
        <title>Ubicación | Sandra Henríquez V.</title>
    </head>
    <body>
        <header>
            <div class="headerInfo">
                <a class="logo" title="Bienvenida" href="../index.html">
                    <img src="../assets/logos/logo.png" loading="lazy" alt="Logo Sandra Henríquez">
                </a>
                <div class="headerText">
                    <h1><a title="Bienvenida" href="../index.html">Sandra Henríquez Vallejos</a></h1>
                    <h3><a title="Exámenes" href="examenes.html">Exámenes Auditivos</a></h3>
                </div>
            </div>
            <div class="menu">
                <a title="Convenios" href="convenios.html">Convenios</a>
                <a title="Estudios" href="estudios.html">Estudios</a>
                <a title="Exámenes" href="examenes.html">Exámenes</a>
                <a title="Experiencia" href="experiencia.html">Experiencia</a>
                <a title="Publicaciones" href="publicaciones.html">Publicaciones</a>
                <a title="Ubicación y Contacto" href="ubicacion.html">Ubicación y Contacto</a>
            </div>
        </header>
        <main>
            <h1>Ubicación y Contacto</h1>
            <div class="sectionContainer">
                <section>
                    <div id="dataUbicacion">
                        <div class="datoUbicacion">
                            <h2>Consulta en Siresa</h2>
                            <img id="logoSiresa" src="../assets/logos/siresa.png" loading="lazy" alt="Logo Siresa">
                            <p><b>Horario:</b> L-V, 8:30-18:00 hrs.</p>
                        </div>
                        <div class="datoUbicacion">
                            <h2>Teléfonos:</h2>
                            <ul>
                                <li><a href="tel:+56452690037">452 690 037</a></li>
                                <li><a href="tel:+56452690038">452 690 038</a></li>
                                <li><a href="tel:+56452690039">452 690 039</a></li>
                                <li><a href="tel:+56452690000">452 690 000 (central)</a></li>
                            </ul>
                        </div>
                        <div class="datoUbicacion">
                            <h2>Correo:</h2>
                            <ul>
                                <li><a title="Enviar un mail" href="mailto:audiometriatco@gmail.com">audiometriatco@gmail.com</a></li>
                            </ul>
                        </div>
                        <div class="datoUbicacion">
                            <h2>Dirección:</h2>
                            <ul>
                                <li>
                                    <a target="_blank" title="Ver en mapa" href="https://goo.gl/maps/5gnJXD5WL15S7sFr7">
                                        Manuel Montt 942, Temuco, CL
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <iframe title="Consulta en mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3112.0892290181732!2d-72.5907519848641!3d-38.73871459530323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9614d3ddb4bbb241%3A0xea96424ca2d4020e!2sHenriquez%20Vallejos%20Sandra%20Elizabeth!5e0!3m2!1sen!2scl!4v1611015508740!5m2!1sen!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" loading="lazy"></iframe>
                </section>
                <section id="examenesCard">
                    <h2>Situación Sanitaria</h2>
                    <p>Debido a las <em>actuales condiciones sanitarias</em> se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes, como se puede apreciar en la siguiente imagen:</p>
                    <img src="../assets/precauciones.jpeg" loading="lazy" alt="Foto Elementos de Desinfección">
                </section>
            </div>
        </main>
        <footer>
            <a title="Contacto telefónico" href="ubicacion.html"><img src="../assets/icons/phone.svg" loading="lazy" alt="Ícono Teléfono"></a>
            <a title="Enviar un mail" href="mailto:audiometriatco@gmail.com"><img src="../assets/icons/letter.svg" loading="lazy" alt="Ícono Carta"></a>
            <a target="_blank" title="Ver ubicación en mapa" href="https://goo.gl/maps/5gnJXD5WL15S7sFr7"><img src="../assets/icons/ubication.svg" loading="lazy" alt="Ícono Ubicación"></a>
            <a target="_blank" title="Página en Instagram" href="https://www.instagram.com/audiometriatco/"><img src="../assets/icons/instagram.svg" loading="lazy" alt="Logo Instagram"></a>
            <a target="_blank" title="Author GitHub" href="https://github.com/DiegoEmilio01"><img src="../assets/icons/github.svg" loading="lazy" alt="Logo Github"></a>
        </footer>
    </body>
</html>