<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>
                <a title="Bienvenida" href="../index.html">Sandra Henríquez Vallejos</a> 
            </h1>
            <h3>Exámenes de Audiología</h3> 
            <div class="menu">
                <a title="Convenios" href="../convenios.html">Convenios</a>
                <a title="Estudios" href="../estudios.html">Estudios</a>
                <a title="Exámenes" href="../examenes.html">Exámenes</a>
                <a title="Experiencia" href="../experiencia.html">Experiencia</a>
                <a title="Publicaciones" href="../publicaciones.html">Publicaciones</a>
                <a title="Ubicación y Contacto" href="../ubicacion.html">Ubicación y Contacto</a>
            </div>
        </header>
        <main>
            <h1>Maniobras de Reposición</h1>
            <div class="sectionContainer">
                <section class="leftAligned">
                    <p>
                        Corresponde a un tratamiento indoloro para los vértigos de tipo Postural. Consiste en la acomodación de las partículas de otolitos mediante una serie de ejercicios que dirige la profesional.
                    </p>
                    <p>
                        No posee convenio por lo que hay que pagar el valor particular.
                    </p>
                </section>
                <section id="examenesCard">
                    <h2>Situación Sanitaria</h2>
                    <p>Debido a las <em>actuales condiciones sanitarias</em> se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes, como se puede apreciar en la siguiente imagen:</p>
                    <img src="../../assets/precauciones.jpeg" alt="Foto Elementos de Desinfección">
                </section>
            </div>
        </main>
    </body>
</html>