<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>SANDRA HENRÍQUEZ VALLEJOS</h1>
            <h3>Potencial Evocado Auditivo</h3>
            <div class="menu">Exámenes Experiencia Estudios Publicaciones Ubicación y Contacto Convenios</div>
        </header>
        <main>
            <section>
                <h1>Audiometría</h1>
                <p>
                    Examen que consiste en evaluar el nivel de audición en niños o personas que no se puedan condicionar a la audiometría. Se realiza en el hospital de Temuco, mediante un convenio para atención de pacientes particulares. Para solicitar hora debe escribir un mensaje vía WhatsApp al +5698182589.
                </p>
            </section>
            <section>
                MAPA
            </section>
        </main>
    </body>
</html>