<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/png" href="../../assets/logo16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../assets/logo32.png" sizes="32x32">
        <link rel="stylesheet" href="../../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>
                <a title="Bienvenida" href="../index.html">Sandra Henríquez Vallejos</a> 
            </h1>
            <h3>Exámenes de Audiología</h3> 
            <div class="menu">
                <a title="Convenios" href="../convenios.html">Convenios</a>
                <a title="Estudios" href="../estudios.html">Estudios</a>
                <a title="Exámenes" href="../examenes.html">Exámenes</a>
                <a title="Experiencia" href="../experiencia.html">Experiencia</a>
                <a title="Publicaciones" href="../publicaciones.html">Publicaciones</a>
                <a title="Ubicación y Contacto" href="../ubicacion.html">Ubicación y Contacto</a>
            </div>
        </header>
        <main>
            <h1>Potencial Evocado Auditivo</h1>
            <div class="sectionContainer">
                <section class="leftAligned">
                    <p>
                        Examen que consiste en evaluar el nivel de audición en niños o personas que no se puedan condicionar a la audiometría. Se realiza en el hospital de Temuco, mediante un convenio para atención de pacientes particulares. Para solicitar hora debe escribir un mensaje vía WhatsApp al +5698182589.
                    </p>
                </section>
                <section id="examenesCard">
                    <h2>Situación Sanitaria</h2>
                    <p>Debido a las <em>actuales condiciones sanitarias</em> se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes, como se puede apreciar en la siguiente imagen:</p>
                    <img src="../../assets/precauciones.jpeg" alt="Foto Elementos de Desinfección">
                </section>
            </div>
        </main>
        <footer>
            <p>Contacto: 452 690 038, audiometriatco@gmail.com</p>
            <a href="https://github.com/DiegoEmilio01">By: DiegoEmilio01</a>
        </footer>
    </body>
</html>