<!DOCTYPE html>
<!-- Author: https://github.com/DiegoEmilio01 -->
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link media="screen" rel="icon" type="image/png" href="../../assets/logos/logo16.png" sizes="16x16">
        <link media="screen" rel="icon" type="image/png" href="../../assets/logos/logo32.png" sizes="32x32">
        <link media="screen" rel="stylesheet preload" as="style" href="../../style/tables.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../../style/leftAligned.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../../style/index.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../../style/header.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../../style/footer.css">
        <link media="screen" rel="stylesheet preload" as="style" href="../../style/queries.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BWZQ9FCFRB"></script>
        <script>
            // Detect if user is using a browser
            // Opera 8.0+
            var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
            // Firefox 1.0+
            var isFirefox = typeof InstallTrigger !== 'undefined';
            // Safari 3.0+
            var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && window['safari'].pushNotification));
            // Internet Explorer 6-11
            var isIE = /*@cc_on!@*/false || !!document.documentMode;
            // Edge 20+
            var isEdge = !isIE && !!window.StyleMedia;
            // Chrome 1 - 79
            var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);
            // Edge (based on chromium) detection
            var isEdgeChromium = isChrome && (navigator.userAgent.indexOf("Edg") != -1);
            // Blink engine detection
            var isBlink = (isChrome || isOpera) && !!window.CSS;
            if (isOpera || isFirefox || isSafari || isIE || isEdge || isChrome || isEdgeChromium || isBlink) {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-BWZQ9FCFRB');
            }
        </script>
        <title>Prueba Calórica | Sandra Henríquez V.</title>
        <meta name="description" content="Sandra Henríquez realiza Prueba Calórica en Temuco. Este examen consiste en estimular el Oído a distintas temperaturas comparando las respuestas Vestibulares obtenidas." />
    </head>
    <body>
        <header>
            <div class="headerInfo">
                <a class="logo" title="Bienvenida" href="../../index.html">
                    <img src="../../assets/logos/logo.png" loading="lazy" alt="Logo Sandra Henríquez">
                </a>
                <div class="headerText">
                    <h1><a title="Bienvenida" href="../../index.html">Sandra Henríquez Vallejos</a></h1>
                    <h3><a title="Exámenes" href="../examenes.html">Exámenes Auditivos</a></h3>
                </div>
            </div>
            <div class="menu">
                <a title="Convenios" href="../convenios.html">Convenios</a>
                <a title="Estudios" href="../estudios.html">Estudios</a>
                <a title="Exámenes" href="../examenes.html">Exámenes</a>
                <a title="Experiencia" href="../experiencia.html">Experiencia</a>
                <a title="Publicaciones" href="../publicaciones.html">Publicaciones</a>
                <a title="Ubicación y Contacto" href="../ubicacion.html">Ubicación y Contacto</a>
            </div>
        </header>
        <main>
            <h1>Prueba Calórica</h1>
            <div class="sectionContainer">
                <section class="leftAligned">
                    <p>
                        Examen que consiste en estimular el Oído a distintas temperaturas comparando las respuestas Vestibulares obtenidas.
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td>Código de prestación:</td>
                                <td>13-01-017</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="examenesCard">
                    <h2>Situación Sanitaria</h2>
                    <p>Debido a las <em>actuales condiciones sanitarias</em> se han tomado las máximas precauciones, elementos de protección personal (EPP) y elementos desinfectantes, como se puede apreciar en la siguiente imagen:</p>
                    <img src="../../assets/precauciones.jpeg" loading="lazy" alt="Foto Elementos de Desinfección">
                </section>
            </div>
        </main>
        <footer>
            <a title="Contacto telefónico" href="../ubicacion.html"><img src="../../assets/icons/phone.svg" loading="lazy" alt="Ícono Teléfono"></a>
            <a title="Enviar un mail" href="mailto:audiometriatco@gmail.com"><img src="../../assets/icons/letter.svg" loading="lazy" alt="Ícono Carta"></a>
            <a target="_blank" title="Ver ubicación en mapa" href="https://goo.gl/maps/5gnJXD5WL15S7sFr7" rel="noreferrer"><img src="../../assets/icons/ubication.svg" loading="lazy" alt="Ícono Ubicación"></a>
            <a target="_blank" title="Página en Instagram" href="https://www.instagram.com/audiometriatco" rel="noreferrer"><img src="../../assets/icons/instagram.svg" loading="lazy" alt="Logo Instagram"></a>
            <a target="_blank" title="Author GitHub" href="https://github.com/DiegoEmilio01" rel="noreferrer"><img src="../../assets/icons/github.svg" loading="lazy" alt="Logo Github"></a>
        </footer>
    </body>
</html>