<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>SANDRA HENRÍQUEZ VALLEJOS</h1>
            <h3>Exámenes de Audiología</h3>
            <div class="menu">Exámenes Experiencia Estudios Publicaciones Ubicación y Contacto Convenios</div>
        </header>
        <main>
            <section>
                <h1>Prueba de Audífonos</h1>
                <p>
                    Examen que permite medir la utilidad de adaptación de audífonos y evaluar si aportan mejoría en la discriminación auditiva. No requiere de indicaciones especiales previas al examen.
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td>Código de prestación:</td>
                            <td>13-01-010</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                MAPA
            </section>
        </main>
    </body>
</html>