<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../style/style.css" />
        <title>Sandra Henríquez Vallejos | Exámenes de Audiología</title>
    </head>
    <body>
        <header>
            <h1>SANDRA HENRÍQUEZ VALLEJOS</h1>
            <h3>Exámenes de Audiología</h3>
            <div class="menu">Exámenes Experiencia Estudios Publicaciones Ubicación y Contacto Convenios</div>
        </header>
        <main>
            <section>
                <h1>VIII Par</h1>
                <p>
                    Examen que consta de varias etapas lo que provoca que su duración aproximada sea de 1 hora. En él se realizan pruebas generales de equilibrio, examen de audición (audiometría), prueba de equilibrio postural y prueba calórica.
                </p>
                <p>
                    Los pacientes deben acudir acompañados, con ayuno previo de 4 horas, haber dejado de ingerir medicamentos para los mareos y/o sedantes.
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td>Código de prestación:</td>
                            <td>13-01-020</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                MAPA
            </section>
        </main>
    </body>
</html>